#spotlight {
    -moz-box-shadow: 0 0 3px #AAAAAA;    /*-----------------*/
    -webkit-box-shadow: 0 0 3px #AAAAAA; /* CSS3 Box Shadow */
    box-shadow: 0 0 3px #AAAAAA;         /*-----------------*/
    -moz-border-radius-bottomleft: 4px;      /*----------------------*/
    -webkit-border-bottom-left-radius: 4px;  /* CSS3 Rounded Corners */
    border-bottom-left-radius: 4px;          /*                      */
    -moz-border-radius-bottomright: 4px;     /*                      */
    -webkit-border-bottom-right-radius: 4px; /*                      */
    border-bottom-right-radius: 4px;         /*----------------------*/
    border: 1px solid white;
    background: url(../Images/Spotlight/panel.jpg) repeat-x bottom center #ffffff;
    width: 546px; /* the width of the gallery*/
    overflow: hidden;
}

#slides{
    height:500px; /* This is the slide area */
    width:546px; /* jQuery changes the width later on to the sum of the widths of all the slides */   
}

.slide{
    float:left;   
}

.slide img{
    margin-left:23px;
    margin-right:23px;
}

#spotmenu{
    height:45px; /* this is the container for the thumbnails */
}

#spotmenu ul{
    margin:0px;
    padding:0px;
}

#spotmenu li{
    /* Every thumbnail is a li element */
    width:60px;
    display:inline-block;
    list-style:none;
    height:45px;
    overflow:hidden;
}

#spotmenu li.inact:hover{
    /* The inactive state, highlighted on mouseover */
    background:url(../Images/Spotlight/pic_bg.png) repeat;
}

#spotmenu li.act, #spotmenu li.act:hover{
    /* The active state of the thumbnail */
    background:url(../Images/Spotlight/active_bg.png) no-repeat;
}

#spotmenu li.act a{
    cursor:default;
}

#spotmenu .fbar{
    /* The left-most vertical bar, next to the first thumbnail */
    width:2px;
    background:url(../Images/Spotlight/divider.png) no-repeat right;
    top:-18px;
}

#spotmenu ul li a{
    display:block;
    background:url(../Images/Spotlight/divider.png) no-repeat right;
    height:35px;
    padding-top:10px;
}

#spotmenu li a img{
    border:none;
}