body
{
    font-family:Calibri, Sans-Serif;
}

header-main
{
    position:fixed;
    top:15px;
    width:800px;
    z-index:3;
}

#navbar
{
    height:38px;
    margin:18px auto;
    position:relative;
    top:-18px;
    width:800px;
    z-index:9999;
}

#navbar #menu
{
    margin:0px;
    padding:0px;
}

#navbar #menu li
{
    display:inline;
}

#navbar #menu li a
{
    background-image:url(../Images/Menu/navbar-bg.png);
    background-repeat:no-repeat;
    float:left;
    height:0px;
    overflow:hidden;
    padding-top:38px;
    width:120px;
}

/*BUTTONS*/
#navbar #menu li#nav-home a
{
    background-position:0px 0px;
}

#navbar #menu li#nav-category a
{
    background-position:-120px 0px;
}

#navbar #menu li#nav-account a
{
    background-position:-240px 0px;
}

/*HOVER*/
#navbar #menu li#nav-home a:hover {
background-position:0px -39px;
}
#navbar #menu li#nav-category a:hover{
background-position:-120px -39px;
}
#navbar #menu li#nav-account a:hover{
background-position:-240px -39px;
}

/*CLICKED*/
#navbar #menu li#nav-home a:active
{
    background-position:0px -78px;
}

#navbar #menu li#nav-category a:active
{
    background-position:-120px -78px;
}

#navbar #menu li#nav-account a:active
{
    background-position:-240px -78px;
}

/*PRESSED*/
#navbar #menu li#nav-home a.on
{
    background-position:0px -117px;
}

#navbar #menu li#nav-category a.on
{
    background-position:-120px -117px;
}

#navbar #menu li#nav-account a.on
{
    background-position:-240px -117px;
}