body
{
    
}

header-main
{
    border: 1 solid #000;
}

.menu
{
    font-size:14px;
    height:38px;
    width:800px;
}

#navbar
{
    height:38px;
    margin:18px auto;
    position:relative;
    top:-18px;
    width:800px;
    z-index:9999;
}

#header-main #navbar
{
    margin:0px;
    padding:0px;
}

#header-main #navbar li
{
    display:inline;
}

#header-main #navbar li a
{
    background-image:url(../Images/Menu/navbar-bg.png);
    background-repeat:no-repeat;
    float:left;
    height:0px;
    overflow:hidden;
    padding-top:38px;
    width:200px;
}

#header-main #navbar li #txtSearch
{
    border:0px;
    color:#7f7f7f;
    height:18px;
    left:30px;
    padding-top:2px;
    position:relative;
    top:-52px;
    width:152px;
    z-index:9999;
}

#navbar li a#Menu_Common1_lnkHome
{
    background-position:0px 0px;
}

#navbar li a#Menu_Common1_lnkCategory
{
    background-position:-120px 0px;
}
#navbar li a#Menu_Common1_lnkAccount
{
    background-position:-240px 0px;
}