/*NAVBAR*/
#navbar {
    height: 38px;
    margin: 18px auto;
    position: relative;
    width: 800px;
}
#navbar #menu {
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 38px;
    top: -18px;
}
#navbar #menu li {
    display: inline;
}
#navbar #menu li a, #navbar #menu {
    background-image: url(../Images/Menu/navbar-bg.png);
    background-repeat: no-repeat;
}
#navbar #menu li a {
    float: left;
    height: 0px;
    overflow: hidden;
    padding-top: 38px;
    width: 120px;
}
#navbar #menu li#nav-search span {
    height: 38px;
    width: 152px;
}
.searchbox-dd {
    border: 0px;
    height: 21px;
    position: relative;
    top: 1px;
    left: 3px;
    width: 145px;
}
.searchbox {
    border: 0px;
    border-right: 1px solid #F5F5F5;
    color: #7F7F7F;
    height: 20px;
    left: 9px;
    padding-top: 0px;
    position: relative;
    top: 1px;
    width: 250px;
}
.search-L, .search-R {
    margin-left: -4px;
    margin-right: -4px;
    padding: 0px;
    position: relative;
}
.search-L {
    left: 9px;
    top: 8px;
}
.search-R {
    top: 8px;
    left: 3px;
}

/*BUTTONS*/
#navbar #menu li#nav-home a {
    background-position: 0px 0px;
}
#navbar #menu li#nav-category a {
    background-position: -120px 0px;
}
#navbar #menu li#nav-account a {
    background-position: -240px 0px;
}
#navbar #menu li#nav-search #search {
    background-position: -360px 0px;
}

/*HOVER*/
#navbar #menu li#nav-home a:hover {
    background-position: 0px -39px;
}
#navbar #menu li#nav-category a:hover {
    background-position: -120px -39px;
}
#navbar #menu li#nav-account a:hover {
    background-position: -240px -39px;
}

/*CLICKED*/
#navbar #menu li#nav-home a:active {
    background-position: 0px -78px;
}
#navbar #menu li#nav-category a:active, #navbar #menu li#nav-category a.active {
    background-position: -120px -78px;
}
#navbar #menu li#nav-account a:active {
    background-position: -240px -78px;
}

/*PRESSED*/
#navbar #menu li#nav-home a.on {
    background-position: 0px -117px;
}
#navbar #menu li#nav-category a.on {
    background-position: -120px -117px;
}
#navbar #menu li#nav-account a.on {
    background-position: -240px -117px;
}

/*SUBMENU*/
#nav-category #submenu-category {
    width: 225px;
    display: none;
    border: 1px solid #CCC;
    z-index: 9001;
    position: absolute;
    top: 38px;
    left: 120px;
    box-shadow: 0 4px 7px #323232;
    float: right;
    background: #FCFCFC;
}
#nav-category #submenu-category .submenu-item a {
    text-decoration: none;
    display: inline;
    padding: 2px 12px;
    color: #333;
    background: none;
    height: auto;
    width: 241px;
    position: relative;
    left: -40px;
}
#nav-category #submenu-category .submenu-item a:hover {
    color: #0085CF;
    background-color: #D6E5F2;
    text-decoration: none;
}

/*SEARCHRESULTS*/
li.match {
    list-style: none;
    padding: 20px 16px 22px 112px;
    border-top: solid #EFEFEF 1px;
    background-repeat: no-repeat;
    background-position: 6px 50%;
    color: #333;
}
li.match .product-image {
    float: left;
    width: 377px;
    margin-right: -168px;
}
li.match .product-image {
    float: left;
    width: 100px;
    margin-left: -100px;
    margin-right: 10px;
}
li.match .product-info {
    float: left;
    width: 377px;
    margin-right: -168px;
}
li.match .product-info .h4 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 7px;
}
li.match .product-info .product-description {
}
li.match .product-price {
    float: right;
    width: 0px;
    position: relative;
    left: 300px;
}
