#spotlight {
    width: 546px;
    height: 567px;
    box-shadow: 0 0 10px #AAAAAA;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#spot-ribbon {
    float: right;
    background: url(../Images/ribbon.png);
    height: 124px;
    width: 124px;
    position: absolute;
    z-index: 6;
}

/* Slide Container */
.slides_container {
    width: 546px;
    overflow: hidden;
    position: relative;
    display: none;
}

/* Slides */
.slides_container div.slide {
    width: 546px;
    height: 546px;
    display: block;
}
.slides_container div.slide a img {
    margin: 23px;
}

/* Pagination */
.pagination {
    margin: 0 auto 0;
    float: right;
    position: relative;
    left: -50%;
    text-align: left;
}
.pagination li {
    float: left;
    margin: 0 3px;
    list-style: none;
    display: block;
    position: relative;
    left: 50%;
}
.pagination li a {
    display: block;
    width: 12px;
    height: 0;
    padding-top: 12px;
    background-image: url(../Images/Spotlight/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}
.pagination li.current a {
    background-position: 0 -12px;
    cursor: default;
}

/* Caption */
.caption {
    z-index: 500;
    position: absolute;
    top: -35px;
    left: 0;
    height: 60px;
    padding: 5px 20px 0 90px;
    width: 506px;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.33;
    color: #000;
    background: url(../Images/Spotlight/captionbg.png);
}
.caption a {
    color: Black;
    text-decoration: none;
    cursor: default;
    width: 546px;
    height: 66px;
    text-shadow: 1px 1px #FFF;
}
